openapi: 3.1.0
info:
  title: VATSIM Data API
  version: 3.0.0
  termsOfService: https://vatsim.net/docs/policy/user-agreement
  contact:
    email: tech@vatsim.net
    name: VATSIM Technology Team
servers:
  - url: https://data.vatsim.net/v3
paths:
  /vatsim-servers.json:
    get:
      tags:
        - Servers
      summary: List on-network FSD servers
      description: Returns a list of all on-network FSD servers.
      operationId: listLiveFSDServers
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FSDServer'
              examples:
                Live servers:
                  value: |-
                    [
                      {
                        "ident": "USA-EAST",
                        "hostname_or_ip": "192.0.2.10",
                        "location": "New York, USA",
                        "name": "USA-EAST",
                        "clients_connection_allowed": 1,
                        "client_connections_allowed": true,
                        "is_sweatbox": false
                      }
                    ]
  /sweatbox-servers.json:
    get:
      tags:
        - Servers
      summary: List sweatbox FSD servers
      description: Returns a list of all sweatbox FSD servers.
      operationId: listSweatboxFSDServers
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FSDServer'
              examples:
                Sweatbox servers:
                  value: |-
                    [
                      {
                        "ident": "SWEATBOX",
                        "hostname_or_ip": "192.0.2.20",
                        "location": "San Francisco, USA",
                        "name": "SWEATBOX",
                        "clients_connection_allowed": 1,
                        "client_connections_allowed": true,
                        "is_sweatbox": true
                      }
                    ]
  /all-servers.json:
    get:
      tags:
        - Servers
      summary: List all FSD servers
      description: Returns a list of all FSD servers.
      operationId: listAllFSDServers
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FSDServer'
              examples:
                All servers:
                  value: |-
                    [
                      {
                        "ident": "USA-EAST",
                        "hostname_or_ip": "192.0.2.10",
                        "location": "New York, USA",
                        "name": "USA-EAST",
                        "clients_connection_allowed": 1,
                        "client_connections_allowed": true,
                        "is_sweatbox": false
                      },
                      {
                        "ident": "SWEATBOX",
                        "hostname_or_ip": "192.0.2.20",
                        "location": "San Francisco, USA",
                        "name": "SWEATBOX",
                        "clients_connection_allowed": 1,
                        "client_connections_allowed": true,
                        "is_sweatbox": true
                      }
                    ]

  /vatsim-data.json:
    get:
      tags:
        - Data feed
      summary: Get live network data
      description: Returns the live data feed of the network. Re-generates every 15 seconds.
      operationId: getNetworkData
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeed'

  /transceivers-data.json:
    get:
      tags:
        - Audio
      summary: List online audio clients
      description: Returns a list of all online audio clients. Re-generates every 15 seconds.
      operationId: listAudioClients
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudioClient'
  /afv-atis-data.json:
    get:
      tags:
        - Audio
      summary: List online ATIS stations
      description: Returns a list of all online ATIS stations. Re-generates every 15 seconds.
      operationId: listATISStations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AFVATIS'
components:
  schemas:
    AudioClient:
      type: object
      properties:
        callsign:
          type: string
          description: Client callsign
          example: JFK_GND
        transceivers:
          type: array
          items:
            $ref: '#/components/schemas/Transceiver'
    Transceiver:
      type: object
      properties:
        id:
          type: integer
          description: Transceiver ID
          example: 0
        frequency:
          type: integer
          description: Transceiver frequency (Hz)
          example: 121900000
        latDeg:
          type: number
          description: Transceiver latitude (deg)
          example: 40.642445
        lonDeg:
          type: number
          description: Transceiver longitude (deg)
          example: -73.781358
        heightMslM:
          type: number
          description: Transceiver height (m MSL)
          example: 103
        heightAglM:
          type: number
          description: Transceiver height (m AGL)
          example: 99
    DataFeed:
      type: object
      properties:
        general:
          type: object
          properties:
            version:
              type: integer
              description: Major version of the data feed
              example: 3
            reload:
              type: integer
              description: Length of time (mins) to wait before reloading the data feed
              example: 1
              deprecated: true
            update:
              type: string
              description: When the data feed was last generated
              example: '19700101000000'
              deprecated: true
            update_timestamp:
              type: string
              format: date-time
              description: When the data feed was last generated
              example: '1970-01-01T00:00:00.000000Z'
            connected_clients:
              type: integer
              description: Total clients (pilots + controllers + ATIS) currently connected to the network
            unique_users:
              type: integer
              description: Total unique users currently connected to the network
        pilots:
          type: array
          items:
            $ref: '#/components/schemas/Pilot'
        controllers:
          type: array
          items:
            $ref: '#/components/schemas/Controller'
        atis:
          type: array
          items:
            $ref: '#/components/schemas/ATIS'
        servers:
          type: array
          items:
            $ref: '#/components/schemas/FSDServer'
        prefiles:
          type: array
          items:
            $ref: '#/components/schemas/Prefile'
        facilities:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
        ratings:
          type: array
          items:
            $ref: '#/components/schemas/Rating'
        pilot_ratings:
          type: array
          items:
            $ref: '#/components/schemas/PilotRating'
        military_ratings:
          type: array
          items:
            $ref: '#/components/schemas/MilitaryRating'
    FSDServer:
      type: object
      properties:
        ident:
          type: string
          description: Server ident
          example: USA-EAST
        hostname_or_ip:
          type: string
          description: Server hostname or IP address
          example: 192.0.2.10
        location:
          type: string
          description: Human-readable geographical location of this server
          example: New York, USA
        name:
          type: string
          description: Human-readable name of this server
          example: USA-EAST
        clients_connection_allowed:
          type: integer
          description: Whether this server is accepting connections
          example: 1
          deprecated: true
        client_connections_allowed:
          type: boolean
          description: Whether this server is accepting connections
          example: true
        is_sweatbox:
          type: boolean
          description: Whether this server is in sweatbox mode
          example: false
    FlightPlan:
      type: object
      properties:
        flight_rules:
          type: string
          description: Whether this flight plan is IFR or VFR
          enum: [I, V]
          example: I
        aircraft:
          type: string
          description: ICAO aircraft type and equipment
          example: B764/H-SDE3FGHIM3RWXY/LB1
        aircraft_faa:
          type: string
          description: FAA aircraft type
          example: B764/L
        aircraft_short:
          type: string
          description: ICAO aircraft type designator
          example: B764
        departure:
          type: string
          description: Departure airport
          example: KJFK
        arrival:
          type: string
          description: Arrival airport
          example: EGLL
        alternate:
          type: string
          description: Alternate arrival airport
          example: EGBB
        deptime:
          type: string
          description: Estimated off-block time
          example: '0000'
        enroute_time:
          type: string
          description: Estimated time enroute
          example: '0615'
        fuel_time:
          type: string
          description: Fuel endurance time
          example: '0745'
        remarks:
          type: string
          description: Flight plan remarks
          example: /V/
        route:
          type: string
          description: Route of flight
          example: GREKI DCT JUDDS DCT MARTN DCT BAREE DCT NEEKO NATX LIMRI NATX XETBO DCT EVRIN DCT INFEC DCT JETZI DCT OGLUN DCT OCTIZ P2 SIRIC SIRI1H
        revision_id:
          type: integer
          description: Flight plan revision ID
          example: 1
        assigned_transponder:
          type: string
          description: System-assigned transponder code
          example: '3456'
    Pilot:
      type: object
      properties:
        cid:
          type: integer
          description: Pilot's VATSIM ID
          example: 1234567
        name:
          type: string
          description: Pilot's full name
          example: Kennedy Steve KJFK
        callsign:
          type: string
          description: Aircraft callsign
          example: DAL1
        server:
          type: string
          description: Pilot's current server ident
          example: USA-EAST
        pilot_rating:
          type: integer
          description: Pilot's pilot rating ID
          example: 0
        military_rating:
          type: integer
          description: Pilot's military rating ID
          example: 0
        latitude:
          type: number
          description: Aircraft latitude (deg)
          example: 40.64222
        longitude:
          type: number
          description: Aircraft longitude (deg)
          example: -73.76981
        altitude:
          type: integer
          description: Aircraft altitude (ft MSL)
          example: 12
        groundspeed:
          type: integer
          description: Aircraft ground speed (kts)
          example: 0
        transponder:
          type: string
          description: Aircraft transponder code
          example: '3456'
        heading:
          type: integer
          description: Aircraft heading (deg. magnetic)
          example: 44
        qnh_i_hg:
          type: number
          description: Aircraft QNH (inHg)
          example: 29.92
        qnh_mb:
          type: integer
          description: Aircraft QNH (mbar)
          example: 1013
        flight_plan:
          $ref: '#/components/schemas/FlightPlan'
          description: Pilot's flight plan, if filed
        logon_time:
          type: string
          format: date-time
          description: When this pilot connected
          example: '1970-01-01T00:00:00.000000Z'
        last_updated:
          type: string
          format: date-time
          description: When this pilot's status was last received
          example: '1970-01-01T00:00:00.000000Z'
    Controller:
      type: object
      properties:
        cid:
          type: integer
          description: Controller's VATSIM ID
          example: 1234567
        name:
          type: string
          description: Controller's full name
          example: Kennedy Steve KJFK
        callsign:
          type: string
          description: Position callsign
          example: JFK_GND
        frequency:
          type: string
          description: Position frequency (MHz)
          example: '121.900'
        facility:
          type: integer
          description: Position facility ID
          example: 0
        rating:
          type: integer
          description: Controller's controller rating ID
          example: 0
        server:
          type: string
          description: Controller's current server ident
          example: USA-EAST
        visual_range:
          type: integer
          description: Position visual range (NM)
          example: 20
        text_atis:
          type: array
          items:
            type: string
          description: Controller information
          example:
            - John F. Kennedy Ground (121.900)
            - Online until 23:00z
            - Feedback? nyartcc.org/feedback
        last_updated:
          type: string
          format: date-time
          description: When this controller's status was last received
          example: '1970-01-01T00:00:00.000000Z'
        logon_time:
          type: string
          format: date-time
          description: When this controller connected
          example: '1970-01-01T00:00:00.000000Z'
    ATIS:
      type: object
      properties:
        cid:
          type: integer
          description: Controller's VATSIM ID
          example: 1234567
        name:
          type: string
          description: Controller's full name
          example: Kennedy Steve KJFK
        callsign:
          type: string
          description: ATIS callsign
          example: KJFK_ATIS
        frequency:
          type: string
          description: ATIS frequency (MHz)
          example: '128.725'
        facility:
          type: integer
          description: ATIS facility ID
          example: 0
        rating:
          type: integer
          description: Controller's controller rating ID
          example: 0
        server:
          type: string
          description: Controller's current server ident
          example: USA-EAST
        visual_range:
          type: integer
          description: ATIS visual range (NM)
          example: 0
        atis_code:
          type: string
          description: Current ATIS phonetic letter
          example: A
        text_atis:
          type: array
          items:
            type: string
          description: Text ATIS
          example:
            - KJFK ATIS INFO A 0000Z. 20004KT 10SM SCT013 BKN060 OVC082 22/20
            - A2992 (TWO NINER NINER TWO). APCH IN USE ILS RY 22L, ILS 22R.
            - DEPTG RY 22R... BIRD ACTIVITY VICINITY ARPT. NUM CRANES
            - OPERATING AT JFK. OPERATE XPDR ON MODE *C ON ALL TAXIWAYS AND
            - RUNWAYS. READBACK ALL RWY HOLD SHORT INSTRUCTIONS....ADVS YOU
            - HAVE INFO A
        last_updated:
          type: string
          format: date-time
          description: When this ATIS's status was last received
          example: '1970-01-01T00:00:00.000000Z'
        logon_time:
          type: string
          format: date-time
          description: When this ATIS connected
          example: '1970-01-01T00:00:00.000000Z'
    AFVATIS:
      type: object
      properties:
        cid:
          type: integer
          description: Controller's VATSIM ID
          example: 1234567
        name:
          type: string
          description: Controller's full name
          example: Kennedy Steve
        real_name:
          type: string
          description: ATIS connection name
          example: vATIS connection for KJFK
        callsign:
          type: string
          description: ATIS callsign
          example: KJFK_ATIS
        frequency:
          type: string
          description: ATIS frequency (MHz)
          example: '128.725'
        facility:
          type: integer
          description: ATIS facility ID
          example: 0
        rating:
          type: integer
          description: Controller's controller rating ID
          example: 0
        latitude:
          type: number
          description: ATIS latitude (deg)
          example: 40.63975
        longitude:
          type: number
          description: ATIS longitude (deg)
          example: -73.778925
        server:
          type: string
          description: Controller's current server ident
          example: USA-EAST
        visual_range:
          type: integer
          description: ATIS visual range (NM)
          example: 0
        atis_code:
          type: string
          description: Current ATIS phonetic letter
          example: A
        text_atis:
          type: array
          items:
            type: string
          description: Text ATIS
          example:
            - KJFK ATIS INFO A 0000Z. 20004KT 10SM SCT013 BKN060 OVC082 22/20
            - A2992 (TWO NINER NINER TWO). APCH IN USE ILS RY 22L, ILS 22R.
            - DEPTG RY 22R... BIRD ACTIVITY VICINITY ARPT. NUM CRANES
            - OPERATING AT JFK. OPERATE XPDR ON MODE *C ON ALL TAXIWAYS AND
            - RUNWAYS. READBACK ALL RWY HOLD SHORT INSTRUCTIONS....ADVS YOU
            - HAVE INFO A
        last_updated:
          type: string
          format: date-time
          description: When this ATIS's status was last received
          example: '1970-01-01T00:00:00.000000Z'
        logon_time:
          type: string
          format: date-time
          description: When this ATIS connected
          example: '1970-01-01T00:00:00.000000Z'
    Prefile:
      type: object
      properties:
        cid:
          type: integer
          description: Pilot's VATSIM ID
          example: 1234567
        name:
          type: string
          description: Pilot's VATSIM ID
          example: "1234567"
        callsign:
          type: string
          description: Prefile callsign
          example: DAL1
        flight_plan:
          $ref: '#/components/schemas/FlightPlan'
        last_updated:
          type: string
          format: date-time
          description: When this prefile's status was last received
          example: '1970-01-01T00:00:00.000000Z'
    Facility:
      type: object
      properties:
        id:
          type: integer
          description: Facility ID
          example: 0
        short:
          type: string
          pattern: /[A-Z]{3}/
          description: Short identifier
          example: FAC
        long_name:
          type: string
          description: Human-readable name
          example: Example Facility
    Rating:
      type: object
      properties:
        id:
          type: integer
          description: Controller Rating ID
          example: 0
        short_name:
          type: string
          pattern: /[A-Z0-9]{2,4}/
          description: Short identifier
          example: EXMP
        long_name:
          type: string
          description: Human-readable name
          example: Example Rating
    PilotRating:
      type: object
      properties:
        id:
          type: integer
          description: Pilot Rating ID
          example: 0
        short_name:
          type: string
          pattern: /[A-Z0-9]{2,4}/
          description: Short identifier
          example: EXMP
        long_name:
          type: string
          description: Human-readable name
          example: Example Rating
    MilitaryRating:
      type: object
      properties:
        id:
          type: integer
          description: Military Rating ID
          example: 0
        short_name:
          type: string
          pattern: /[A-Z0-9]{2,4}/
          description: Short identifier
          example: EXMP
        long_name:
          type: string
          description: Human-readable name
          example: Example Rating
